<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.b57.basictemplate">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name=".B57App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.b57.basictemplate.ui.login.LoginActivity" />
        <activity android:name=".ui.contact.ContactActivity">
            <nav-graph android:value="@navigation/contact_navigation" />
        </activity>
        <activity android:name=".ui.room.RoomSampleActivity">
            <nav-graph android:value="@navigation/room_navigation" />
        </activity>
        <activity android:name=".ui.recycler_bind.RecyclerBindActivity">
            <intent-filter>

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="b57" />

                <data android:host="app" />

                <data android:path="/recycler" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.okhttp.HttpDemoActivity" >
            <intent-filter>

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="b57" />

                <data android:host="app" />

                <data android:path="/httpdemo" />
            </intent-filter>
        </activity>
    </application>

</manifest>